* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border-spacing: 0;
}

html {
    color: #fff;
    background: #000;
    font-family: "Poppins", verdana, sans-serif;
    font-size: 16px;
}

button {
    /* flex-grow: 1; */
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s, box-shadow 0.5s;
    background: #ccc;
    color: #000;
    }
    button:focus {
        background: #ace;
    }
    button:hover {
        background: #ace;
    }

select,
input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    transition: background-color 0.5s;
    color: #000;
    }
    select:focus,
    input:focus {
        background: #ace;
    }
    input::placeholder {
        color: #888;
    }

/* Font awesome */
.fa {
    transition: color .5s
}
.fa:hover {
    color: #aaa;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    padding: 10px;
    }
    .container_app {
        display: flex;
        flex-direction: column;
        background: #222;
        border-radius: 10px;
        box-shadow: 0 0 30px #222;
        width: 100%;
        min-width: 300px;
        max-width: 1200px;
    }


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    background: #246;
    text-align: center;
    font-size: 28px;
}

/* Form */
.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
    padding: 20px;
    gap: 20px;
    }
    @media (max-width: 690px) {
        .form {
            grid-template-columns: 100%;
        }
    }
    .form_buttons {
        display: flex;
    }
    .form_button {
        flex-grow: 1;
        min-height: 45px;
        border-radius: 10px;
    }

/* Main */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding: 10px 20px 20px;
    gap: 20px;
}

/* Player */
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    min-width: 190px;
    }
    .player_remove {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .player_edit {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .player_name {
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 15px;
    }
    .player_row {
        width: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 40px 40px;
        border-radius: 5px;
        background-color: #333;
        padding: 10px;
        }
        .player_row-info {
            text-align: left;
            font-size: 15px;
        }
        .player_row-score {
            text-align: right;
        }
        .player_row-edit {
            text-align: right;
        }
    .player_sum {
        font-weight: bold;
        font-size: 18px;
    }

/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    }
    .modal_content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 150px;
        min-width: 300px;
        max-width: 60vw;
        padding: 20px;
        line-height: 1.5rem;
        background-color: rgba(15, 15, 15, 0.9);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        box-shadow: 0px 0px 30px #246;
        text-align: center;
    }
    .modal_content-score {
        padding: 40px;
    }
    .modal_close {
        position: absolute;
        font-size: 30px;
        right: 15px;
        top: 10px;
    }

/* Scores */
.scores {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .scores_row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 5px;
    background-color: #222;
    padding: 5px;
    }
    .scores_row-first {
        font-weight: bold;
    }
    .scores_row-header {
        background-color: transparent;
    }
   
/* Edit */
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    }
    .edit_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(15, 15, 15, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        text-align: center;
        position: relative;
        padding: 20px;
        gap: 10px;
        min-height: 210px;
        min-width: 300px;
        max-width: 800px;
        width: calc(100% - 100px);

        } 
        .edit_content-bonus {
            max-width: 400px;
        }
        @media (max-width: 690px) {
            .edit_content-trains {
                min-height: 400px;
            }
            .edit_content-tickets {
                min-height: 280px;
            }
        }
    .edit_title {
        margin-bottom: 20px;
        font-weight: bold;
    }
    .edit_close {
        position: absolute;
        font-size: 30px;
        right: 15px;
        top: 10px;
    }
    .edit_reset {
        position: absolute;
        font-size: 16px;
        left: 28px;
        top: 20px;
        }
        .edit_reset i {
            margin-right: 10px
        }

/* Trains */
.trains {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 18px;
    }
    .trains_item {
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 50px;
        gap: 10px;
    }
    .trains_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .trains_button {
        width: 50px;
        height: 45px;
        margin: 5px;
    }

/* Tickets */
.tickets {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 18px;
    }
    .tickets_item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 50px;
        width: 25px;
        }
        .tickets_item-red {
            color: red;
        }
    .tickets_group {
        display: flex;
        flex-wrap: wrap;
    }
    .tickets_buttons {
        display: flex;
        flex-grow: 1;
    }
    .tickets_button {
        margin: 5px;
        width: 130px;
        flex-grow: 1;
        }
        .tickets_button-done {
            background-color: #8bb;
            }
            .tickets_button-done:hover {
                background-color: #add;
            }
        .tickets_button-failed {
            background-color: #e99;
            }
            .tickets_button-failed:hover {
                background-color: #faa;
            }

/* Bonus */
.bonus {
    display: grid;
    grid-template-columns: 190px 50px;
    grid-template-rows: repeat(3, 50px);
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 20px;
    }
    .bonus_select {
        padding: 5px;
    }
    .bonus_checkbox {
        transform: scale(2);
    }

      

